@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap');

:root
{
    --amazing-events: #e0046c;
    --amazing-events-border: #ff50a2;
    --amazing-events-dark: #980047;
    --amazing-events-light: #ffb4d7;
}

/* ------ GENERAL ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    padding: 2rem;
    background-color: #F2D7D5;
    color: white;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* movimiento de linea abajo de los enunciados */
.nav-link {
    border-bottom: 2px solid transparent;
    font-family: 'Lobster', cursive;
}

.nav-link:hover,
.nav-link:focus {
    border-bottom-color: black;
}

.navbar-nav .nav-link:hover {
    color: var(--amazing-events);
    border-bottom-color: var(--amazing-events);
}

.btn-outline-success {
    color: var(--amazing-events);
    border-color: var(--amazing-events);
}

.btn-outline-success:hover {
    background-color: var(--amazing-events);
    border-color: white;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

/* checkboxes y search */
.categoria {
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Lobster', cursive;
}

.search {
    width: 40%;
}

.search:focus {
    border-top: var(--amazing-events-border);
}

/* carousel */
.carousel-item {
    max-height: 200px;
    width: 100%;
}

.carousel-item h5 {
    color: white;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.carousel-control-prev-icon {
    color: black;
}

/* event cards */
.row .informacion h2 {
    font-size: 1.2rem;
}

.row .informacion a {
    box-shadow: 7px 13px 37px black;
}

.row .informacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-body {
    text-align: center;
}

.card {
    margin-bottom: 4%;
}

.cartsJS .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*footer*/
.redes {
    padding: 20px;
    text-align: center;
    /* background-color: #f5f6f7; */
    background-color: #F2D7D5;
    box-shadow: 15px 15px 15px 15px rgba(8, 0, 0, 0.25);
    color: aliceblue;
}

.redes a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 10px;
    border: 2px solid black;
    background-color: black;
    border-radius: 50%;
}

.redes i {
    color: white;
    font-size: 1.5rem;
}

.pais h1 {
    color: black;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

footer {
    margin-top: 15px;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

/* ------ PAGE INDEX ------ */

/* ------ PAGE PAST ------ */

/* ------ PAGE UPCOMING ------ */

/* ------ PAGE DETAILS ------ */

.card_details {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 5px black);
    font-size: 10pt;
}

.card-temp {
    width: 60%;
    margin: 1rem 0rem;
}

.location-img {
    display: flex;
    align-items: center;
}

.imagen_details {
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 2px black);
}

.card-title-details {
    font-weight: bolder;
}

/* ------ PAGE STATS ------ */

.table td {
    height: 30px;
}

.div_table {
    padding: 3%;
    font-family:Raleway;
}

.table-bordered {
    border-color: var(--amazing-events-border);
}

table .th-ae {
    background-color: var(--amazing-events-light);
}

/* ------ PAGE CONTACT ------ */

.btn-primary {
    background-color: var(--amazing-events-border);
    border-color: white;
}

.btn-primary:hover {
    background-color: var(--amazing-events);
    border-color: white;
}

.contact-container{
    font-family: 'Lobster', cursive;
}

/* ------ SWIPER COMPLEMENT ------ */

.container-carousel {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    box-shadow: 0px 10px 10px 5px rgba(8, 0, 0, 0.25);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 40px;
    margin-top: 10%;
    margin-bottom: 15%;
    overflow: hidden;
}

.container-carousel .swiper-container {
    width: 100%;
    height: 100%;
}

.container-carousel .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: white;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.container-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container-carousel .swiper-slide .card-description {
    padding: 1rem 1rem;
}

.container-carousel .swiper-slide .card-title,
.container-carousel .swiper-slide .card-text {
    margin-bottom: .1rem;
}

.container-carousel .swiper-slide .card-link {
    text-align: center;
}

.container-carousel .swiper-slide .card-link a {
    text-decoration: none;
    color: var(--amazing-events);
}

.swiper-button-next {
    right: 26px !important;
    margin-top: 30%;
}

.swiper-button-prev {
    left: 26px !important;
    margin-top: 30%;
}

.btn-swiper {
    color: black;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ ADAPTABLE RESPONSIVE ------ */

@media screen and (max-width: 800px) {
    .redes {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1081px) {
    .categoria  {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
